.about-box {
    background-image: url('../images/outdoor-activities3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100vh;
    padding-left: 15em;
    padding-right: 15em;
    padding-top: 2em;
    padding-bottom: 5em;
    color:black;
    font-size: 20px;
    font-weight: 700;
  }
  .container, .values {
    background-color: rgb(245, 235, 205);
    border-radius: 20px;
    padding-left: 2em;
    padding-right: 2em;
    opacity: .8;
    color:black;
  }
  .contact-us {
    border-radius: 20px;
    background-color: #218838;
    font-weight: 800px;
    font-size: 20px;
    padding: .75em;
    color: white;
    border-color: #218838;
  }
  .contact {
    padding-bottom: 2em;
  }
  p {
    color: black;
    font-weight: 700px;
}