.about-box {
    background-image: url('../images/outdoor-activities3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100vh;
    padding-bottom: 40%;
    padding-top: 30%;
  }