.subscriptions {
    background-image: url('../images/family2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100vh;
    padding: 5%;
    background-color: aliceblue;
    color:black;
    font-size: 20px;
    font-weight: 700;
}

.plan-comparison {
    background-color:rgb(245, 235, 205);
    padding-left: 2em;
    opacity: .8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 126.5vh;
    color:black;
}

.suscribe-now {
    padding: .75em;
    border-radius: 20px;
    width:25vh;
    background-color: rgb(7, 98, 27);
    color:aliceblue;
    font-weight: 700;
    border: rgb(7, 98, 27);
    font-size: 20px;
    font-weight: 700px;
}
#plans-card, .sign-up-process {
    display: flex;
    justify-content: center;
    background-color: rgb(245, 235, 205);
    border-bottom-left-radius: 20px;
    opacity: .8;
    color:black;
}
 #plans-card {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    max-width: 120vh;
    color:black;
 }

.sign-up-process {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    max-width: 140vh;
    color:black;
}
.get-started, .steps, .price {
    margin-left: 1em;
    border-bottom-left-radius: 20px;
    color:black;
}
.price {
    padding-left: 1em;
    font-weight: 900;
    color: black;

}

.button-box {
padding: 3em;
}
p {
    color:black;
}